* {
font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: #a7477f;
color: white;
}

header {
    background: black;
    padding: 20px;
    color: white;
    margin-bottom: 10px;

    a {
        color: white;
    }
}

.filmes {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

div {
border: 1px solid black;
width: 300px;
height: 200px;
padding: 10px;
color:black;
background-color: white;
border-radius: 10px;
}

div:hover {
background-color: #fcd0e9;
transition: background-color 0.8s;
}